{% extends "base.html" %}

{% block title %}
Change Password | BookVerse
{% endblock %}

{% block content %}

<section class="hero">

    <h2>
        Change Password 🔒
    </h2>

    <p>
        Keep your account secure
    </p>

</section>

<div class="form-container">

    <form method="POST"
          class="book-form">

        {{ form.hidden_tag() }}

        <div class="form-group">

            {{ form.current_password.label }}

            {{ form.current_password() }}

        </div>

        <div class="form-group">

            {{ form.new_password.label }}

            {{ form.new_password() }}

        </div>

        <div class="form-group">

            {{ form.confirm_password.label }}

            {{ form.confirm_password() }}

        </div>

        {% if form.errors %}

            {% for field, errors in form.errors.items() %}

                {% for error in errors %}

                    <p style="color:red;">

                        {{ field }}:
                        {{ error }}

                    </p>

                {% endfor %}

            {% endfor %}

        {% endif %}

        <div class="form-group">

            {{ form.submit(class="auth-btn") }}

        </div>

    </form>


</div>

{% endblock %}